@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
h1 {
    font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

title {
    font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

h3 {
    font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p,
label {
    font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

input .form-control {
    font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", "Verdana", 'sans-serif';
    /* font-size: 15px; */
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    height: 70px;
}

blockquote {
    font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 2px;
    color: #e0e7e6;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 1rem;
    margin: auto;
}

form {
    display: inline;
}

.centered {
    text-align: center;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #59c2dc;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
}

.main-header__nav {
    height: 100%;
    display: none;
    align-items: center;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: #ffeb3b;
}

.mobile-nav {
    width: 30rem;
    height: 100vh;
    max-width: 90%;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    z-index: 10;
    padding: 2rem 1rem 1rem 2rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.mobile-nav.open {
    transform: translateX(0);
}

.mobile-nav__item-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.mobile-nav__item {
    margin: 1rem;
    padding: 0;
}

.mobile-nav__item a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
    background: #00695c;
    color: white;
    border-radius: 3px;
}

#side-menu-toggle {
    border: 1px solid white;
    font: inherit;
    padding: 0.5rem;
    display: block;
    background: transparent;
    color: white;
    cursor: pointer;
}

#side-menu-toggle:focus {
    outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
    color: #ffeb3b;
    border-color: #ffeb3b;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
    padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
    margin: 0;
}

.card__image {
    width: 100%;
}

.card__image img {
    width: 100%;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.btn {
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #00695c;
    color: white;
}

.btn.danger {
    color: red;
    border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
    background: red;
    color: white;
}

@media (min-width: 768px) {
    .main-header__nav {
        display: flex;
    }
    #side-menu-toggle {
        display: none;
    }
}