<%- include('../includes/head.ejs') %>
    <h1 class="centered"> <b>Upload product</b> </h1>
    <form class="product-form" action="http://localhost:3000/add-product" method="POST">
        <div class="row">
            <div class="col-25"><label for="name">Name of your product</label></div>
            <div class="col-75"><input type="text" id="name" name="name" placeholder="product name.." required="required"></div>
        </div>
        <div class="row">
            <div class="col-25"><label for="category">Add product tags here, separated by spaces</label></div>
            <div class="col-75"><input type="text" id="category" name="category" placeholder="item tags your product falls under.."></div>
        </div>
        <div class="row">
            <div class="col-25"><label for="description">Add product description</label></div>
            <div class="col-75">
                <textarea type="text" id="description" name="description" style="height:200px"></textarea>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-25"><label for="price">Add price, quantity and sale type</label></div>
            <div class="col-20">
                <input type="number" id="Price" name="price" required="required" style="height: 30px;" placeholder="in dollars">
            </div>
            &nbsp;
            <div class="col-20">
                <input type="quantity" name="quantity" id="quantity" required="required" style="height: 30px;">
            </div>
            &nbsp;
            <div class="col-15">
                <select name="item_type" id="item_type" style="height: 50px;">
                    <option value="auction">auctioning</option>
                    <option value="direct_sale" selected>simple sale</option>
                </select>
            </div>
            <div class="multiselect">
                <div class="selectBox" onclick="showCheckboxes()">
                  <select>
                    <option>Select all tags</option>
                  </select>
                  <div class="overSelect"></div>
                </div>
                <div id="checkboxes">
                  <label for="a">
                    <input type="checkbox" name = "a" id="a" value="Clothing" />Clothing</label>
                  <label for="b">
                    <input type="checkbox" name = "b" id="b" value="Women's Clothing" />Women's Clothing</label>
                  <label for="c">
                    <input type="checkbox" name = "c" id="c" value="Jewellery"/>Jewellery</label>
                  <label for="d">
                    <input type="checkbox" name = "d" id="d" value="Footwear" />Footware</label>
                  <label for="e">
                    <input type="checkbox" name = "e" id="e" value="Men's Clothing" />Men's Clothing</label>
                  <label for="f">
                    <input type="checkbox" name = "f" id="f" value="Automotive"/>Automotive</label>
                  <label for="g">
                    <input type="checkbox" name = "g" id="g" value="Necklaces" />Necklaces</label>
                  <label for="h">
                    <input type="checkbox" name = "h" id="h" value="Western Wear" />Western Wear</label>
                  <label for="i">
                    <input type="checkbox" name = "i" id="i" value="Beauty and Personal Care"/>Beauty and Personal Care</label>
                  <label for="j">
                    <input type="checkbox" name = "j" id="j" value="Rings" />Rings</label>
                  <label for="k">
                    <input type="checkbox" name = "k" id="k" value="Accessories & Spare parts" />Accessories & Spare parts</label>
                  <label for="l">
                    <input type="checkbox" name = "l" id="l" value="Home Decor & Festive Needs"/>Home Decor & Festive Needs</label>
                    
                
                  </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-25"><label for="close_date">closing time</label></div>
            <div class="col-75">
                <input type="date" id="close_date" name="close_date">
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary btn-block product-options" type="submit">Upload</button>
        </div>
    </form>
    
    <script>
        var expanded = false;
    
    function showCheckboxes() {
      var checkboxes = document.getElementById("checkboxes");
      if (!expanded) {
        checkboxes.style.display = "block";
        expanded = true;
      } else {
        checkboxes.style.display = "none";
        expanded = false;
      }
    }
    </script>
    
    
    <%- include('../includes/end.ejs') %>