<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>


<main>

    <h1>Home Screen Page</h1>

    <form class="product-form" action="http://localhost:3000/home-screen" method="POST">
        <div class="form-control">
            <label for="search">Search for an item</label>
            <input type="text" name="search" id="search" >
        </div>
       
      

        <button class="btn" type="submit">Search</button>
    </form>

    <form action="http://localhost:3000/add-product" method="GET">
        <button type="submit">Add product</button>
    </form>
    <form action="http://localhost:3000/view-mysales" method="GET">
        <button type="submit">View my sales</button>
    </form>

    <form action="http://localhost:3000/view-mypurchases" method="GET">
        <button type="submit">View my purchases</button>
    </form>

    <form action="http://localhost:3000/messages" method="post">
        <button type="submit">View Messages</button>
    </form>


    <form action="http://localhost:3000/logout" method="get">
        <button type="submit">Logout</button>
    </form>

    <h3>Your current balance : <%= balance %> </h3>
    <h3>Your amount on hold : <%= amount_on_hold %> </h3>


    <button class="open-button" onclick="openForm()">Add Money</button>

    <div class="form-popup" id="myForm">
    <form action="http://localhost:3000/update-balance" class="form-container" method="POST">
        <h3>Add Money</h3>

        
        <label for="balance"><b>Amount</b></label>
        <input type="number" placeholder="Enter Amount to be added" name="balance"  id = "balance" required>
        

        <button type="submit" class="btn">Update balance</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
    </div>
    <script>
        function openForm() {
        document.getElementById("myForm").style.display = "block";
        }
        
        function closeForm() {
        document.getElementById("myForm").style.display = "none";
        }
    </script>
    
      


</main>
<%- include('../includes/end.ejs') %>