<%- include('../includes/login-head.ejs') %>
    <div class="row">
        <div class="col-md-4 m-auto">
            <br> <br>
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%=message%></div>
              <% } %>
            <div class="login-form">
                <form action="http://localhost:3000/login-screen" class="product-form" method="POST">
                    <h2 class="text-center" style="font-weight:10;font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 40px;">Login Page</h2>
                    <div class="form-group">
                        <label for="email" style="font-size: 3vmin; font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="e-mail address" required="required" name="email">
                        <br>
                        <label for="password" style="font-size: 3vmin; font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Password</label>
                        <input type="password" class="form-control" placeholder="password" required="required" id="password" name="password">
                        <br>
                        <button type="submit" class="btn btn-primary btn-block" style="font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;">Log in</button>
                    </div>
                </form>
                <p class="text-center"><a href="http://localhost:3000/signup-screen" style="font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" class="button">Sign up</a></p>
            </div>
        </div>
    </div>
    <%- include('../includes/end.ejs') %>