<%- include('../includes/head.ejs') %>
    <div class="grid"></div>
    <% for (var i =0; i < messages.rows.length;  i++ ) { %>
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">
                    <b>
                        <%= (messages) ?  messages.rows[i].title : '' %>
                    </b>
                </h1>
            </header>
            <div class="card__content">
                <h3 class="product__price">Price:
                    <p>
                        <%= (messages) ?  messages.rows[i].message_text : '' %>
                    </p>
                </h3>
            </div>
        </article>
        <% } %>
            </div>
            <%- include('../includes/end.ejs') %>