<nav class="navbar navbar-dark bg-primary mb-6">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <a class="navbar-brand" style="font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:xx-large;" href="http://localhost:3000/home-screen">eMercado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
            <div class="col-xs-6 col-md-8">
                <p style="font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:large; color: white;  margin-top: 15px;"><i> an online b2b marketplace</i></p>
            </div>
        </div>
    </div>
</nav>