<!-- <nav class="navbar navbar-expand-lg navbar-dark navbar-dark bg-primary static-top">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:xx-large;" href="http://localhost:3000/home-screen">eMercado</a>
        <p style="font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:large; color: white;  margin-top: 15px;"><i> an online b2b marketplace</i></p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:3000/home-screen">Home
                  <span class="sr-only">(current)</span>
                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link button" href="http://localhost:3000/logout">Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark navbar-dark bg-primary static-top" style="position: fixed; top: 0rem; right: 0rem; left: 0rem;top: 0;
z-index: 999;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <a class="navbar-brand" style="font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:xx-large;" href="http://localhost:3000/home-screen">eMercado</a>
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:3000/home-screen">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" style="float: right;">
                    <a class="nav-link button" href="http://localhost:3000/logout">Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>